---
import BaseLayout from "../layouts/BaseLayout.astro";
import profilePic from "/images/profile/me2.jpg";

const pageTitle = "About";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="about">
    <img
      src="/public/images/profile/me2.jpg"
      class="profile"
      alt="My grandmother and me"
    />

    <p>
      Hi there! My name is Nerses. I’m a writer based in Los Angeles with roots
      in Lebanon. This site is my <i>nth</i> attempt to catalogue my writing in an
      organized form without losing its sprawling, raw and introspective spirit.
    </p>
    <p>
      I’ve been writing ever since I first fell in love with reading as a kid,
      trying to imitate the voices of the authors I admired most. This site is
      less a finished archive than a personal playground: a space to explore the
      themes that have occupied me since immigrating to the United States—grief,
      politics, technology, masculinity, loneliness, and the search for meaning
      in an increasingly atomized world.
    </p>
  </section>
</BaseLayout>
