---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Nerses Arslanian | Essays";
---

<BaseLayout pageTitle={pageTitle}>
  <section>
    <h1 class="hero">Nerses Arslanian</h1>
    <p>
      Personal essays on literature, philosophy, and Zen.
      <br />
      Writing from Los Angeles, Lebanon, and life under late capitalism.
    </p>
  </section></BaseLayout
>
